html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  overflow-x:hidden;
}

p{
   line-height:1.75
   color:#000!important;
}

h1,h2,h3,h4,h5,h6{
   font-weight:700;
}

section{
   padding:50px 0;
}

::-moz-selection{
  background:#636b6f;
  color: white;
  text-shadow:none;
}
::selection{
  background:#636b6f;
  color: white;
  text-shadow:none;
}
img::selection{
    background:0 0;
}
img::-moz-selection{
    background:0 0;
}
body{
    -webkit-tap-highlight-color:#636b6f;
}

#mainNav{
  background-color: #fff;
}
#mainNav .navbar-toggler{
    font-size:12px;
    right:0;
    padding:13px;
    text-transform:uppercase;
    color:#fff!important;
    border:0;
    background-color:#636b6f;
    outline: 0;
    }
#mainNav .navbar-brand{
    color:#636b6f;
    }
#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
    color:#51585b
    }
#mainNav .navbar-nav .nav-item .nav-link{
    font-size:90%;
    font-weight:400;
    padding:.75em 0;
    letter-spacing:1px;
    color:#636b6f;
}
#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{
    color:#636b6f
    }
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #fff; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; }
}

header.masthead {
  text-align: center;
}

img {
    margin-top: 75px;
    padding: 75px;
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.links > a {
  color: #636b6f;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  padding: 15px;
  font-weight: 600;
 }
 .links > a:hover {
    color: #4d5356;
}

.text-muted{
  color:#000!important;
}
.dark-background{
  background-color:#636b6f!important;
}

section#contact{
    background-color:#fff;
}
section#contact .section-heading{
  color:#636b6f;
}

footer{
  padding:25px 0;
  text-align:center;
}
footer span.copyright{
  font-size:90%;
  line-height:40px;
  text-transform:none;
}
footer ul.quicklinks{
  font-size:90%;
  line-height:40px;
  margin-bottom:0;
  text-transform:none;
}

ul.social-buttons{
    margin-bottom:0;
}
ul.social-buttons li a{
    font-size:20px;
    line-height:40px;
    display:block;
    width:40px;
    height:40px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    color:#fff;
    border-radius:100%;
    outline:0;
    background-color:#212529;
}
ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{
    background-color:#636b6f;
}

/* Extra small devices (portrait phones, less than 576px)
     No media query since this is the default in Bootstrap */
     
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  section{
    padding:100px 0;
    }
  img {
      margin-top: 150px;
      padding: 25px;
      max-width: 100%;
      height: auto;
      margin-bottom: 100px;
  }
  section#contact{
      margin-bottom: 25px;
  }
  .links > a{
     font-size: 15px;
     padding: 25px;
     font-weight: 600;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section{
    padding:125px 0;
    }
  img {
      margin-top: 150px;
      padding: 25px;
      max-width: 100%;
      height: auto;
      margin-bottom: 150px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section{
    padding:150px 0;
    }
  img {
      margin-top: 0;
      padding: 50px;
      max-width: 100%;
      height: auto;
      margin-bottom: 0;
  }
  .links > a{
     font-size: 20px;
     padding: 25px;
     font-weight: 600;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
