html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6{
}

::-moz-selection{
  background:#636b6f;
  color: white;
  text-shadow:none;
}
::selection{
  background:#636b6f;
  color: white;
  text-shadow:none;
}
img::selection{
    background:0 0;
}
img::-moz-selection{
    background:0 0;
}
body{
    -webkit-tap-highlight-color:#636b6f;
}

#mainNav{
  background-color: transparent;
}
#mainNav .navbar-brand{
    color:#636b6f;
    }
#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
    color:#51585b
    }
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #fff; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; }
}

.jumbotron {
  background-color:inherit;
  background-image: url("../img/portada-logo.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.panel {
    border: 1px solid #636b6f;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
    margin: 15px;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #636b6f;
    background-color: #fff !important;
    color: #636b6f;
}
.panel-heading {
    color: #fff !important;
    background-color: #636b6f !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-body {
    background-color: white !important;
    color:#000!important;
    padding: 25px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #636b6f;
    color: #fff;
}

footer{
  padding:25px 0;
  text-align:center;
}
footer span.copyright{
  font-size:90%;
  line-height:40px;
  text-transform:none;
}
footer ul.quicklinks{
  font-size:90%;
  line-height:40px;
  margin-bottom:0;
  text-transform:none;
}

ul.social-buttons{
    margin-bottom:0;
}
ul.social-buttons li a{
    font-size:20px;
    line-height:40px;
    display:block;
    width:40px;
    height:40px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    color:#fff;
    border-radius:100%;
    outline:0;
    background-color:#636b6f;
}
ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover{
    background-color:#212529;
}

/* Extra small devices (portrait phones, less than 576px)
     No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
