/* CUSTOMIZE THE GALLERY
-------------------------------------------------- */


/* CUSTOMIZE THE FILTERS
-------------------------------------------------- */
.section-filters {
}
.section-title h2 {
    display: inline-block;
    font-size: 150% !important;
    font-weight: 400;
    margin-bottom: 40px;
    padding-bottom: 10px;
    position: relative;
}
.portfolio-menu button.mixitup-control-active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #000;
    color: #4bcaff;
    padding: 10px 15px;
    font-weight: 400;
    transition: .4s;
}
.portfolio-menu button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid transparent;
    color: #fff;
    padding: 10px 15px;
    font-size: 25px !important;
    font-weight: 300;
    cursor: pointer;
}


/* CUSTOMIZE THE GRID
-------------------------------------------------- */
.gal-container{
	padding: 12px;
	display: inline-block;
	overflow: hidden;
}
.gal-item{
	padding: 3px;
	display: none; /* Hide columns by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.gal-item .box{
	height: 350px;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}

.gal-item a:after{
  font-family: "Font Awesome 5 Solid";
  content: "ver";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
  line-height: 350px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.modal-dialog {
  min-width: 100%;
  margin: 0;
}

.modal-content {
  border-radius: 0;
  height:100vh !important;
	background-color: rgba(0, 0, 0, 0.75);
}

.carousel-inner {
}
.carousel img{
  max-height:93vh !important;
}
.carousel.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

/* Extra small devices (portrait phones, less than 576px)
     No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
